<div class="row">
  <div class="small-10 large-centered columns">
    <h3> Admin Section for Regions </h3>
    <li><%= link_to "Add Region", new_admin_region_path %></li>
    <table>
      <tr>
        <td><strong>Region Name</td>
          <td><strong>Abbreviation</td>
                </tr>
                <% @regions.each do |info| %>
                <tr>
                  <td><%= info.name %></td>
                  <td><%= info.abbreviation %></td>
                  <td><%= link_to 'Edit', edit_admin_region_path(info) %></td>
                  <td><%= link_to "Delete", admin_region_path(info), method: :delete, data: { confirm: "Are you sure?" } %></td>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
