<h1><%= @region.name %></h1>
<h3><%= @region.abbreviation %></h3>
<% @teams.each do |team| %>
<li><a href="/teams/<%=team.id%>"><%= team.name %></a></li>
<% end %>

<br>
<% @matches.each do |match| %>
<ul><a href="/matches/<%=match.id%>"><%= match.name %></a></ul>
<% end %>
